### Analysis of Football season and team stats

In [1]:
# load the csv file created after scraping the data from 'data' folder of the project
import pandas as pd

df = pd.read_csv(r'./data/df.csv')
df.head()

/Users/Sayli/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,LBAH,B365AH,SOH,SOD,SOA,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,E0,12/09/2020,12:30,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/09/2020,17:30,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/09/2020,20:00,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/09/2020,14:00,West Brom,Leicester,0.0,3.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
def change_into_datetime(col):
    df[col]=pd.to_datetime(df[col])
change_into_datetime("Date")
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,LBAH,B365AH,SOH,SOD,SOA,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,E0,2020-12-09,12:30,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2020-12-09,15:00,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2020-12-09,17:30,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2020-12-09,20:00,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2020-09-13,14:00,West Brom,Leicester,0.0,3.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#removing betting data columns from original df
#removing 21-22 season as it is incomplete and not suitable for further analysis

df_complete = df.iloc[323: , :24] 
df_complete = df_complete.sort_index(ascending=False)

df_complete =df_complete.drop(['Div','Time'],axis=1)
df_complete.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
7130,2003-11-05,West Brom,Newcastle,2.0,2.0,D,0.0,1.0,A,G Barber,...,3.0,9.0,9.0,8.0,2.0,8.0,0.0,0.0,0.0,0.0
7129,2003-11-05,Tottenham,Blackburn,0.0,4.0,A,0.0,2.0,A,A D'Urso,...,7.0,9.0,9.0,12.0,6.0,3.0,1.0,1.0,1.0,0.0
7128,2003-11-05,Sunderland,Arsenal,0.0,4.0,A,0.0,2.0,A,P Durkin,...,3.0,13.0,16.0,12.0,6.0,10.0,1.0,0.0,0.0,0.0
7127,2003-11-05,Man City,Southampton,0.0,1.0,A,0.0,1.0,A,M Dean,...,7.0,3.0,14.0,14.0,10.0,4.0,3.0,4.0,0.0,0.0
7126,2003-11-05,Leeds,Aston Villa,3.0,1.0,H,1.0,1.0,D,M Halsey,...,5.0,6.0,18.0,14.0,1.0,8.0,0.0,1.0,0.0,0.0

In [4]:
df_complete = df_complete.dropna()
# df_complete.isnull().sum()

Drop irrelevant columns and rename other columns to understand the contents from column title

In [5]:
df_complete.columns = ['Date','HomeTeam','AwayTeam','H_Goals','A_Goals','FT_Result','H_HT_Goals','A_HT_Goals',
                        'HT_Result','Referee','H_Shots','A_Shots','H_Shots_Target','A_Shots_Target','H_Foul',
                        'A_Foul','H_Corner','A_Corner','H_Yellow','A_Yellow','H_Red','A_Red']

df_complete.head()

,Date,HomeTeam,AwayTeam,H_Goals,A_Goals,FT_Result,H_HT_Goals,A_HT_Goals,HT_Result,Referee,...,H_Shots_Target,A_Shots_Target,H_Foul,A_Foul,H_Corner,A_Corner,H_Yellow,A_Yellow,H_Red,A_Red
7130,2003-11-05,West Brom,Newcastle,2.0,2.0,D,0.0,1.0,A,G Barber,...,3.0,9.0,9.0,8.0,2.0,8.0,0.0,0.0,0.0,0.0
7129,2003-11-05,Tottenham,Blackburn,0.0,4.0,A,0.0,2.0,A,A D'Urso,...,7.0,9.0,9.0,12.0,6.0,3.0,1.0,1.0,1.0,0.0
7128,2003-11-05,Sunderland,Arsenal,0.0,4.0,A,0.0,2.0,A,P Durkin,...,3.0,13.0,16.0,12.0,6.0,10.0,1.0,0.0,0.0,0.0
7127,2003-11-05,Man City,Southampton,0.0,1.0,A,0.0,1.0,A,M Dean,...,7.0,3.0,14.0,14.0,10.0,4.0,3.0,4.0,0.0,0.0
7126,2003-11-05,Leeds,Aston Villa,3.0,1.0,H,1.0,1.0,D,M Halsey,...,5.0,6.0,18.0,14.0,1.0,8.0,0.0,1.0,0.0,0.0

In [6]:
#sorting data according to the Date

df_analysis = df_complete.sort_values(['Date']).reset_index(drop=True)
df_analysis.head()

,Date,HomeTeam,AwayTeam,H_Goals,A_Goals,FT_Result,H_HT_Goals,A_HT_Goals,HT_Result,Referee,...,H_Shots_Target,A_Shots_Target,H_Foul,A_Foul,H_Corner,A_Corner,H_Yellow,A_Yellow,H_Red,A_Red
0,2002-01-09,Chelsea,Arsenal,1.0,1.0,D,1.0,0.0,H,A D'Urso,...,2.0,5.0,20.0,16.0,6.0,2.0,5.0,2.0,0.0,1.0
1,2002-01-09,Bolton,Aston Villa,1.0,0.0,H,0.0,0.0,D,S Dunn,...,6.0,5.0,9.0,11.0,4.0,5.0,2.0,3.0,0.0,0.0
2,2002-01-12,Newcastle,Everton,2.0,1.0,H,0.0,1.0,A,M Halsey,...,15.0,5.0,13.0,18.0,11.0,2.0,0.0,1.0,0.0,1.0
3,2002-01-12,Liverpool,Man United,1.0,2.0,A,0.0,0.0,D,A Wiley,...,7.0,4.0,13.0,11.0,5.0,2.0,1.0,4.0,0.0,0.0
4,2002-01-12,Leeds,Charlton,1.0,2.0,A,1.0,0.0,H,A D'Urso,...,6.0,10.0,14.0,15.0,5.0,11.0,1.0,1.0,0.0,0.0

Each EPL season has 380 games.
So we can make a new column called season which changes after every 380 games.

In [7]:
season_start=2
season_end=3
season_list = []

for x in range (18):
    for y in range (380):
        season_list.append((str(season_start)+'-'+str(season_end)))
    season_start = season_start + 1
    season_end = season_end + 1

In the above step, we made an empty list and added the seasons into it changing every 380 games.
We will convert this list into a pandas dataframe and later concatenate this data frame with the df_analysis.

In [8]:
season_df = pd.DataFrame({'Season':season_list})

data_by_seasons = pd.concat([season_df,df_analysis], axis=1)
data_by_seasons.head()

,Season,Date,HomeTeam,AwayTeam,H_Goals,A_Goals,FT_Result,H_HT_Goals,A_HT_Goals,HT_Result,...,H_Shots_Target,A_Shots_Target,H_Foul,A_Foul,H_Corner,A_Corner,H_Yellow,A_Yellow,H_Red,A_Red
0,2-3,2002-01-09,Chelsea,Arsenal,1.0,1.0,D,1.0,0.0,H,...,2.0,5.0,20.0,16.0,6.0,2.0,5.0,2.0,0.0,1.0
1,2-3,2002-01-09,Bolton,Aston Villa,1.0,0.0,H,0.0,0.0,D,...,6.0,5.0,9.0,11.0,4.0,5.0,2.0,3.0,0.0,0.0
2,2-3,2002-01-12,Newcastle,Everton,2.0,1.0,H,0.0,1.0,A,...,15.0,5.0,13.0,18.0,11.0,2.0,0.0,1.0,0.0,1.0
3,2-3,2002-01-12,Liverpool,Man United,1.0,2.0,A,0.0,0.0,D,...,7.0,4.0,13.0,11.0,5.0,2.0,1.0,4.0,0.0,0.0
4,2-3,2002-01-12,Leeds,Charlton,1.0,2.0,A,1.0,0.0,H,...,6.0,10.0,14.0,15.0,5.0,11.0,1.0,1.0,0.0,0.0

In [9]:
data_by_seasons = data_by_seasons.dropna()
data_by_seasons.head()

,Season,Date,HomeTeam,AwayTeam,H_Goals,A_Goals,FT_Result,H_HT_Goals,A_HT_Goals,HT_Result,...,H_Shots_Target,A_Shots_Target,H_Foul,A_Foul,H_Corner,A_Corner,H_Yellow,A_Yellow,H_Red,A_Red
0,2-3,2002-01-09,Chelsea,Arsenal,1.0,1.0,D,1.0,0.0,H,...,2.0,5.0,20.0,16.0,6.0,2.0,5.0,2.0,0.0,1.0
1,2-3,2002-01-09,Bolton,Aston Villa,1.0,0.0,H,0.0,0.0,D,...,6.0,5.0,9.0,11.0,4.0,5.0,2.0,3.0,0.0,0.0
2,2-3,2002-01-12,Newcastle,Everton,2.0,1.0,H,0.0,1.0,A,...,15.0,5.0,13.0,18.0,11.0,2.0,0.0,1.0,0.0,1.0
3,2-3,2002-01-12,Liverpool,Man United,1.0,2.0,A,0.0,0.0,D,...,7.0,4.0,13.0,11.0,5.0,2.0,1.0,4.0,0.0,0.0
4,2-3,2002-01-12,Leeds,Charlton,1.0,2.0,A,1.0,0.0,H,...,6.0,10.0,14.0,15.0,5.0,11.0,1.0,1.0,0.0,0.0

In [10]:
data_by_seasons.to_csv(r'./data/data_by_seasons.csv')

We need to stack HomeTeam and AwayTeam into one column called Team - to get season & team wise data

In [11]:
delta_names = ['Goals','HT_Goals','Shots_Target','Foul','Corner','Yellow','Red']

for column in delta_names:
    h_delta_column = 'H_Delta_'+ column
    a_delta_column = 'A_Delta_'+ column
    
    h_column = 'H_'+ column
    a_column = 'A_'+ column

    data_by_seasons[h_delta_column] = data_by_seasons[h_column]-data_by_seasons[a_column]
    data_by_seasons[a_delta_column] = data_by_seasons[a_column]-data_by_seasons[h_column]
    
column_names = ['Delta_Goals','Delta_HT_Goals','Delta_Shots_Target','Delta_Foul','Delta_Corner','Delta_Yellow','Delta_Red']

h_column_names = ['Season','HomeTeam','H_Goals','A_Goals','FT_Result','H_HT_Goals','A_HT_Goals','HT_Result','H_Shots_Target','A_Shots_Target','H_Foul','A_Foul','H_Corner','A_Corner','H_Yellow','A_Yellow','H_Red','A_Red']

a_column_names = ['Season','AwayTeam','A_Goals','H_Goals','FT_Result','A_HT_Goals','A_HT_Goals','HT_Result','A_Shots_Target','H_Shots_Target','A_Foul','H_Foul','A_Corner','H_Corner','A_Yellow','H_Yellow','A_Red','H_Red']


column_names_new = ['Season','Team','Goals','Goals_Received','FT_Result','HT_Goals','HT_Goals_Received','HT_Result','Shots_Target','Shots_Target_Received','Fouls','Got_Fouled','Corner','Corner_Received','Yellow','Yellow_Received','Red','Red_Received','Delta_Goals','Delta_HT_Goals','Delta_Shots_On_Target','Delta_Foul','Delta_Corner','Delta_Yellow','Delta_Red']

for column in column_names: 
    h_column_names.append("H_" + column)
    a_column_names.append("A_" + column)

In [12]:
df_home = data_by_seasons.filter(h_column_names)
df_away = data_by_seasons.filter(a_column_names)

df_home.columns = column_names_new
df_away.columns = column_names_new

df_total = df_home.append(df_away)
df_total.head()

,Season,Team,Goals,Goals_Received,FT_Result,HT_Goals,HT_Goals_Received,HT_Result,Shots_Target,Shots_Target_Received,...,Yellow_Received,Red,Red_Received,Delta_Goals,Delta_HT_Goals,Delta_Shots_On_Target,Delta_Foul,Delta_Corner,Delta_Yellow,Delta_Red
0,2-3,Chelsea,1.0,1.0,D,1.0,0.0,H,2.0,5.0,...,2.0,0.0,1.0,0.0,1.0,-3.0,4.0,4.0,3.0,-1.0
1,2-3,Bolton,1.0,0.0,H,0.0,0.0,D,6.0,5.0,...,3.0,0.0,0.0,1.0,0.0,1.0,-2.0,-1.0,-1.0,0.0
2,2-3,Newcastle,2.0,1.0,H,0.0,1.0,A,15.0,5.0,...,1.0,0.0,1.0,1.0,-1.0,10.0,-5.0,9.0,-1.0,-1.0
3,2-3,Liverpool,1.0,2.0,A,0.0,0.0,D,7.0,4.0,...,4.0,0.0,0.0,-1.0,0.0,3.0,2.0,3.0,-3.0,0.0
4,2-3,Leeds,1.0,2.0,A,1.0,0.0,H,6.0,10.0,...,1.0,0.0,0.0,-1.0,1.0,-4.0,-1.0,-6.0,0.0,0.0

In [13]:
df_total.to_csv(r'./data/df_total.csv')