In [1]:
# importing modules and packages

import os
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
pd.options.display.max_columns = None

### Web Scraping English Premier League (EPL) Data

In [3]:
url="https://www.football-data.co.uk/englandm.php"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")
#print(soup.prettify()) # print the parsed data of html

In [4]:
import re

data = []
# unwanted = ['Season 1993/1994','Season 1994/1995','Season 1995/1996','Season 1996/1997','Season 1997/1998',
#             'Season 1998/1999','Season 1999/2000','Season 2000/2001','Season 2001/2002']

for link in soup.find_all('a', href=True, text=re.compile('Premier League')):
    data.append("https://www.football-data.co.uk/"+link.get("href"))

data = data[1:20]
print(data)

len(data)

['https://www.football-data.co.uk/mmz4281/2021/E0.csv', 'https://www.football-data.co.uk/mmz4281/1920/E0.csv', 'https://www.football-data.co.uk/mmz4281/1819/E0.csv', 'https://www.football-data.co.uk/mmz4281/1718/E0.csv', 'https://www.football-data.co.uk/mmz4281/1617/E0.csv', 'https://www.football-data.co.uk/mmz4281/1516/E0.csv', 'https://www.football-data.co.uk/mmz4281/1415/E0.csv', 'https://www.football-data.co.uk/mmz4281/1314/E0.csv', 'https://www.football-data.co.uk/mmz4281/1213/E0.csv', 'https://www.football-data.co.uk/mmz4281/1112/E0.csv', 'https://www.football-data.co.uk/mmz4281/1011/E0.csv', 'https://www.football-data.co.uk/mmz4281/0910/E0.csv', 'https://www.football-data.co.uk/mmz4281/0809/E0.csv', 'https://www.football-data.co.uk/mmz4281/0708/E0.csv', 'https://www.football-data.co.uk/mmz4281/0607/E0.csv', 'https://www.football-data.co.uk/mmz4281/0506/E0.csv', 'https://www.football-data.co.uk/mmz4281/0405/E0.csv', 'https://www.football-data.co.uk/mmz4281/0304/E0.csv', 'https://www.football-data.co.uk/mmz4281/0203/E0.csv']

19

In [5]:
frames = []

for i in range(len(data)):
    globals()[f"df{i}"] = pd.read_csv(data[i], encoding="latin-1", on_bad_lines='skip')
    df_object = globals()[f"df{i}"]
    frames.append(df_object)

In [6]:
df = pd.DataFrame()

for d in frames:
    df =  df.append(d, ignore_index=True)

In [7]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA,SJH,SJD,SJA,GBH,GBD,GBA,BSH,BSD,BSA,SBH,SBD,SBA,GB>2.5,GB<2.5,GBAHH,GBAHA,GBAH,LBAHH,LBAHA,LBAH,B365AH,SOH,SOD,SOA,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,E0,12/09/2020,12:30,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,A,C Kavanagh,5.0,13.0,2.0,6.0,12.0,12.0,2.0,3.0,2.0,2.0,0.0,0.0,6.000,4.33,1.530,5.50,4.25,1.57,6.00,3.90,1.57,6.16,4.51,1.56,6.50,4.2,1.53,6.50,4.20,1.55,6.55,4.55,1.60,5.94,4.34,1.55,1.72,2.10,1.80,2.13,1.84,2.18,1.76,2.10,1.00,1.93,1.97,1.96,1.96,2.00,1.99,1.93,1.95,5.00,4.00,1.66,5.50,4.00,1.62,5.25,3.90,1.67,5.48,3.98,1.69,5.50,3.8,1.65,5.50,3.90,1.67,5.75,4.20,1.71,5.36,3.93,1.67,2.0,1.80,2.06,1.86,2.10,1.92,2.00,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,H,J Moss,5.0,9.0,3.0,5.0,14.0,11.0,7.0,3.0,2.0,1.0,0.0,0.0,3.100,3.25,2.370,3.00,3.20,2.45,3.15,2.95,2.40,3.32,3.29,2.40,3.20,3.2,2.35,3.20,3.20,2.40,3.36,3.36,2.50,3.18,3.22,2.39,2.20,1.66,2.34,1.68,2.36,1.73,2.24,1.67,0.25,1.85,2.05,1.88,2.05,1.88,2.07,1.84,2.03,3.00,3.25,2.40,3.00,3.30,2.40,3.05,2.90,2.45,3.09,3.27,2.54,3.10,3.1,2.45,3.10,3.25,2.45,3.25,3.33,2.55,3.08,3.22,2.47,2.2,1.66,2.26,1.72,2.27,1.78,2.18,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/09/2020,17:30,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,H,M Oliver,22.0,6.0,6.0,3.0,9.0,6.0,9.0,0.0,1.0,0.0,0.0,0.0,1.280,6.00,9.500,1.26,6.25,10.50,1.35,5.00,8.50,1.31,6.25,9.92,1.27,6.0,10.00,1.30,5.75,10.50,1.35,6.50,10.75,1.30,5.96,9.68,1.53,2.50,1.56,2.60,1.56,2.68,1.52,2.53,-1.50,1.95,1.95,1.97,1.95,2.00,2.08,1.90,1.97,1.25,6.00,11.00,1.25,6.25,11.00,1.30,6.00,9.00,1.28,6.34,11.38,1.25,6.0,12.00,1.29,6.00,11.50,1.30,6.75,12.27,1.28,6.16,10.63,1.5,2.62,1.51,2.76,1.53,2.82,1.50,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/09/2020,20:00,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,D,S Attwell,15.0,15.0,3.0,2.0,13.0,7.0,8.0,7.0,2.0,2.0,0.0,0.0,2.150,3.40,3.400,2.15,3.40,3.40,2.15,3.15,3.40,2.18,3.61,3.50,2.15,3.5,3.40,2.15,3.40,3.60,2.24,3.70,3.60,2.15,3.48,3.42,1.90,1.90,2.00,1.91,2.05,1.95,1.97,1.86,-0.50,2.07,1.72,2.17,1.78,2.17,1.81,2.12,1.75,1.95,3.60,3.75,1.95,3.70,3.75,2.05,3.25,3.75,2.04,3.59,3.92,2.00,3.5,3.80,2.00,3.50,3.90,2.07,3.78,3.99,2.01,3.57,3.79,1.9,1.90,2.00,1.92,2.00,2.05,1.91,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/09/2020,14:00,West Brom,Leicester,0.0,3.0,A,0.0,0.0,D,A Taylor,7.0,13.0,1.0,7.0,12.0,9.0,2.0,5.0,1.0,1.0,0.0,0.0,3.800,3.60,1.950,3.70,3.60,2.00,3.85,3.20,2.00,4.00,3.59,2.00,3.80,3.6,1.95,4.00,3.50,1.95,4.00,3.82,2.04,3.87,3.57,1.97,1.90,1.90,2.00,1.91,2.02,2.03,1.92,1.90,0.50,1.91,1.99,1.92,2.00,1.93,2.02,1.88,1.97,3.25,3.40,2.20,3.30,3.40,2.20,3.35,3.00,2.30,3.38,3.38,2.32,3.30,3.3,2.25,3.30,3.30,2.30,3.55,3.50,2.38,3.32,3.33,2.28,2.2,1.66,2.23,1.74,2.28,1.82,2.15,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7126,E0,11/05/2003,NaN,Leeds,Aston Villa,3.0,1.0,H,1.0,1.0,D,M Halsey,11.0,18.0,5.0,6.0,18.0,14.0,1.0,8.0,0.0,1.0,0.0,0.0,1.833,3.25,3.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,3.3,3.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.800,3.25,3.750,NaN,NaN,NaN,1.83,3.35,3.85,NaN,NaN,NaN,1.800,3.4,3.750,1.75,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,3.4,3.75,NaN,NaN,NaN,NaN,NaN
7127,E0,11/05/2003,NaN,Man City,Southampton,0.0,1.0,A,0.0,1.0,A,M Dean,17.0,6.0,7.0,3.0,14.0,14.0,10.0,4.0,3.0,4.0,0.0,0.0,1.615,3.40,5.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.61,3.5,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.615,3.50,4.500,NaN,NaN,NaN,1.65,3.50,4.75,NaN,NaN,NaN,1.615,3.4,5.000,1.70,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.53,3.5,5.50,NaN,NaN,NaN,NaN,NaN
7128,E0,11/05/2003,NaN,Sunderland,Arsenal,0.0,4.0,A,0.0,2.0,A,P Durkin,7.0,20.0,3.0,13.0,16.0,12.0,6.0,10.0,1.0,0.0,0.0,0.0,5.000,3.40,1.615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.20,3.5,1.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000,3.40,1.727,NaN,NaN,NaN,4.75,3.60,1.63,NaN,NaN,NaN,4.500,3.6,1.615,1.70,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,3.4,1.62,NaN,NaN,NaN,NaN,NaN
7129,E0,11/05/2003,NaN,Tottenham,Blackburn,0.0,4.0,A,0.0,2.0,A,A D'Urso,11.0,13.0,7.0,9.0,9.0,12.0,6.0,3.0,1.0,1.0,1.0,0.0,2.500,3.50,2.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.62,3.5,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.85,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000,3.20,2.100,NaN,NaN,NaN,2.60,3.30,2.40,NaN,NaN,NaN,2.600,3.4,2.300,1.80,1.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.63,3.4,2.25,NaN,NaN,NaN,NaN,NaN
7130,E0,11/05/2003,NaN,West Brom,Newcastle,2.0,2.0,D,0.0,1.0,A,G Barber,8.0,14.0,3.0,9.0,9.0,8.0,2.0,8.0,0.0,0.0,0.0,0.0,4.000,3.50,1.727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.75,3.3,1.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.500,3.20,1.909,NaN,NaN,NaN,3.85,3.40,1.82,NaN,NaN,NaN,3.750,3.4,1.800,1.75,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.75,3.4,1.80,NaN,NaN,NaN,NaN,NaN

### Data cleaning and subsetting required data
Remove betting data as we don't need it for prediction.

In [8]:
#we only require the first 22 columns for the purpose of prediction

df_new = df.iloc[:,:23]
df_new = df_new.drop(['Div','Date','Time'],axis=1)

table_features = df.iloc[:,:7]
table_features = table_features.drop(['FTHG','FTAG','Div','Date'],axis=1)

In [9]:
df_new.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR
0,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,A,C Kavanagh,5.0,13.0,2.0,6.0,12.0,12.0,2.0,3.0,2.0,2.0,0.0
1,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,H,J Moss,5.0,9.0,3.0,5.0,14.0,11.0,7.0,3.0,2.0,1.0,0.0
2,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,H,M Oliver,22.0,6.0,6.0,3.0,9.0,6.0,9.0,0.0,1.0,0.0,0.0
3,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,D,S Attwell,15.0,15.0,3.0,2.0,13.0,7.0,8.0,7.0,2.0,2.0,0.0
4,West Brom,Leicester,0.0,3.0,A,0.0,0.0,D,A Taylor,7.0,13.0,1.0,7.0,12.0,9.0,2.0,5.0,1.0,1.0,0.0

In [10]:
df_new.shape[0]

7131

In [11]:
avg_home_scored = df_new.FTHG.sum()*1.0 / df_new.shape[0]
avg_away_scored = df_new.FTAG.sum()*1.0 / df_new.shape[0]

avg_home_conceded = avg_away_scored
avg_away_conceded = avg_home_scored

print("Average number of goals at home =",avg_home_scored)
print("Average number of goals away =", avg_away_scored)
print("Average number of goals conceded at home =",avg_home_conceded)
print("Average number of goals conceded away",avg_away_conceded)

Average number of goals at home = 1.5201234048520544
Average number of goals away = 1.1531342027766092
Average number of goals conceded at home = 1.1531342027766092
Average number of goals conceded away 1.5201234048520544

In [12]:
result_home = df_new.groupby(['HomeTeam'])
result_away = df_new.groupby('AwayTeam')

Goals Scored -> For Home :
Average Goal Scored = Full-Time Goal Scored (home) / Total Home Games Played | 
For Away :
Average Goal Scored = Full-Time Goal Scored (away) / Total Away Games Played

Goals Conceded -> For Home :
Average Goal Conceded = Full-Time Goal Conceded (home) / Total Home Games Played | 
For Away :
Average Goal Conceded = Full-Time Goal Conceded (away) / Total Away Games Played

In [13]:
# table['Team']= result_home['HomeTeam'].all().values

table = pd.DataFrame()

table['HGS'] = result_home['FTHG'].sum()
table['HGC'] = result_home['FTAG'].sum()
table['AGS'] = result_away['FTAG'].sum()
table['AGC'] = result_away['FTHG'].sum()

# table = pd.concat([HGS, HGC, AGS, AGC],axis='columns',sort=False)
table.head()

               HGS    HGC    AGS    AGC
HomeTeam
Arsenal      748.0  308.0  584.0  440.0
Aston Villa  373.0  353.0  339.0  495.0
Birmingham   157.0  136.0  107.0  213.0
Blackburn    252.0  213.0  201.0  312.0
Blackpool     30.0   37.0   25.0   41.0

In [14]:
table.reset_index(inplace=True)
table.head()

      HomeTeam    HGS    HGC    AGS    AGC
0      Arsenal  748.0  308.0  584.0  440.0
1  Aston Villa  373.0  353.0  339.0  495.0
2   Birmingham  157.0  136.0  107.0  213.0
3    Blackburn  252.0  213.0  201.0  312.0
4    Blackpool   30.0   37.0   25.0   41.0

In [15]:
#renaming the columns

table.columns.values[0] = "Team"
table.head()

          Team    HGS    HGC    AGS    AGC
0      Arsenal  748.0  308.0  584.0  440.0
1  Aston Villa  373.0  353.0  339.0  495.0
2   Birmingham  157.0  136.0  107.0  213.0
3    Blackburn  252.0  213.0  201.0  312.0
4    Blackpool   30.0   37.0   25.0   41.0

Attack Score = Average Goals Scored / League Average Goal Scored

Defense Score = Average Goals Conceded / League Average Goal Conceded

In [16]:
#Assuming number of home games = number of away games
num_games = df_new.shape[0]/40

In [17]:
#Home/Away Attack & Defense Strength

table['HAS'] = (table['HGS'] / num_games) / avg_home_scored
table['AAS'] = (table['AGS'] / num_games) / avg_away_scored
table['HDS'] = (table['HGC'] / num_games) / avg_home_conceded
table['ADS'] = (table['AGC'] / num_games) / avg_away_conceded
table.head()

,Team,HGS,HGC,AGS,AGC,HAS,AAS,HDS,ADS
0,Arsenal,748.0,308.0,584.0,440.0,2.760148,2.840812,1.498237,1.623616
1,Aston Villa,373.0,353.0,339.0,495.0,1.376384,1.649033,1.717135,1.826568
2,Birmingham,157.0,136.0,107.0,213.0,0.579336,0.520491,0.661559,0.785978
3,Blackburn,252.0,213.0,201.0,312.0,0.929889,0.977745,1.036118,1.151292
4,Blackpool,30.0,37.0,25.0,41.0,0.110701,0.121610,0.179983,0.151292

In [18]:
cols = ['HAS', 'AAS', 'HDS', 'ADS']

table[cols] = table[cols].round(3)

table.head()

          Team    HGS    HGC    AGS    AGC    HAS    AAS    HDS    ADS
0      Arsenal  748.0  308.0  584.0  440.0  2.760  2.841  1.498  1.624
1  Aston Villa  373.0  353.0  339.0  495.0  1.376  1.649  1.717  1.827
2   Birmingham  157.0  136.0  107.0  213.0  0.579  0.520  0.662  0.786
3    Blackburn  252.0  213.0  201.0  312.0  0.930  0.978  1.036  1.151
4    Blackpool   30.0   37.0   25.0   41.0  0.111  0.122  0.180  0.151

### Working on the feature table

feature_table contains all the fixtures in the current season | 
ftr = full time result | 
hst = home shots on target | 
ast = away shots on target |

In [19]:
feature_table = df.iloc[:,:23]

feature_table = feature_table[['HomeTeam','AwayTeam','FTR','HST','AST']]

f_HAS = []
f_HDS = []
f_AAS = []
f_ADS = []
for index,row in feature_table.iterrows():
    f_HAS.append(table[table['Team'] == row['HomeTeam']]['HAS'].values)
    f_HDS.append(table[table['Team'] == row['HomeTeam']]['HDS'].values)
    f_AAS.append(table[table['Team'] == row['AwayTeam']]['AAS'].values)
    f_ADS.append(table[table['Team'] == row['AwayTeam']]['ADS'].values)
    
feature_table['HAS'] = f_HAS
feature_table['HDS'] = f_HDS
feature_table['AAS'] = f_AAS
feature_table['ADS'] = f_ADS
feature_table

,HomeTeam,AwayTeam,FTR,HST,AST,HAS,HDS,AAS,ADS
0,Fulham,Arsenal,A,2.0,6.0,[1.28],[1.649],[2.841],[1.624]
1,Crystal Palace,Southampton,H,3.0,5.0,[0.675],[1.056],[1.124],[1.251]
2,Liverpool,Leeds,H,6.0,3.0,[2.642],[1.352],[0.389],[0.387]
3,West Ham,Newcastle,A,3.0,2.0,[1.59],[2.004],[1.523],[1.959]
4,West Brom,Leicester,A,1.0,7.0,[1.077],[1.741],[1.06],[0.845]
...,...,...,...,...,...,...,...,...,...
7126,Leeds,Aston Villa,H,5.0,6.0,[0.273],[0.365],[1.649],[1.827]
7127,Man City,Southampton,A,7.0,3.0,[2.786],[1.508],[1.124],[1.251]
7128,Sunderland,Arsenal,A,3.0,13.0,[0.908],[1.479],[2.841],[1.624]
7129,Tottenham,Blackburn,A,7.0,9.0,[2.402],[1.766],[0.978],[1.151]
7130,West Brom,Newcastle,D,3.0,9.0,[1.077],[1.741],[1.523],[1.959]

In [20]:
from array import *
def conversion(array_array,col_name):
    list_array = array_array.tolist()
    list_list = []
    for arr in list_array:
        lst = arr.tolist()
        list_list.append(lst)
    df_col = pd.DataFrame(list_list, columns = [col_name])
    return df_col

In [21]:
df_has = conversion(feature_table["HAS"], "has")
df_hds = conversion(feature_table["HDS"], "hds")
df_aas = conversion(feature_table["AAS"], "aas")
df_ads = conversion(feature_table["ADS"], "ads")

In [22]:
final_table = feature_table.join([df_has,df_hds,df_aas,df_ads])

In [23]:
final_table.drop(columns=["HAS","HDS","AAS","ADS"],inplace=True)

In [24]:
final_table

            HomeTeam     AwayTeam FTR  HST   AST    has    hds    aas    ads
0             Fulham      Arsenal   A  2.0   6.0  1.280  1.649  2.841  1.624
1     Crystal Palace  Southampton   H  3.0   5.0  0.675  1.056  1.124  1.251
2          Liverpool        Leeds   H  6.0   3.0  2.642  1.352  0.389  0.387
3           West Ham    Newcastle   A  3.0   2.0  1.590  2.004  1.523  1.959
4          West Brom    Leicester   A  1.0   7.0  1.077  1.741  1.060  0.845
...              ...          ...  ..  ...   ...    ...    ...    ...    ...
7126           Leeds  Aston Villa   H  5.0   6.0  0.273  0.365  1.649  1.827
7127        Man City  Southampton   A  7.0   3.0  2.786  1.508  1.124  1.251
7128      Sunderland      Arsenal   A  3.0  13.0  0.908  1.479  2.841  1.624
7129       Tottenham    Blackburn   A  7.0   9.0  2.402  1.766  0.978  1.151
7130       West Brom    Newcastle   D  3.0   9.0  1.077  1.741  1.523  1.959

[7131 rows x 9 columns]

In [25]:
final_table.rename(columns = {'has':'HAS', 'hds':'HDS','aas':'AAS', 'ads':'ADS'}, inplace = True)

In [26]:
final_table

            HomeTeam     AwayTeam FTR  HST   AST    HAS    HDS    AAS    ADS
0             Fulham      Arsenal   A  2.0   6.0  1.280  1.649  2.841  1.624
1     Crystal Palace  Southampton   H  3.0   5.0  0.675  1.056  1.124  1.251
2          Liverpool        Leeds   H  6.0   3.0  2.642  1.352  0.389  0.387
3           West Ham    Newcastle   A  3.0   2.0  1.590  2.004  1.523  1.959
4          West Brom    Leicester   A  1.0   7.0  1.077  1.741  1.060  0.845
...              ...          ...  ..  ...   ...    ...    ...    ...    ...
7126           Leeds  Aston Villa   H  5.0   6.0  0.273  0.365  1.649  1.827
7127        Man City  Southampton   A  7.0   3.0  2.786  1.508  1.124  1.251
7128      Sunderland      Arsenal   A  3.0  13.0  0.908  1.479  2.841  1.624
7129       Tottenham    Blackburn   A  7.0   9.0  2.402  1.766  0.978  1.151
7130       West Brom    Newcastle   D  3.0   9.0  1.077  1.741  1.523  1.959

[7131 rows x 9 columns]

In [27]:
#Converts results (H,A or D) into numeric values

def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [28]:
final_table["Result"] = final_table.apply(lambda row: transformResult(row),axis=1)
final_table.tail()

,HomeTeam,AwayTeam,FTR,HST,AST,HAS,HDS,AAS,ADS,Result
7126,Leeds,Aston Villa,H,5.0,6.0,0.273,0.365,1.649,1.827,1
7127,Man City,Southampton,A,7.0,3.0,2.786,1.508,1.124,1.251,-1
7128,Sunderland,Arsenal,A,3.0,13.0,0.908,1.479,2.841,1.624,-1
7129,Tottenham,Blackburn,A,7.0,9.0,2.402,1.766,0.978,1.151,-1
7130,West Brom,Newcastle,D,3.0,9.0,1.077,1.741,1.523,1.959,0

In [29]:
final_table.to_csv('final_data.csv',index=False)

In [30]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [31]:
final_table.dropna(inplace=True)
final_table

,HomeTeam,AwayTeam,FTR,HST,AST,HAS,HDS,AAS,ADS,Result
0,Fulham,Arsenal,A,2.0,6.0,1.280,1.649,2.841,1.624,-1
1,Crystal Palace,Southampton,H,3.0,5.0,0.675,1.056,1.124,1.251,1
2,Liverpool,Leeds,H,6.0,3.0,2.642,1.352,0.389,0.387,1
3,West Ham,Newcastle,A,3.0,2.0,1.590,2.004,1.523,1.959,-1
4,West Brom,Leicester,A,1.0,7.0,1.077,1.741,1.060,0.845,-1
...,...,...,...,...,...,...,...,...,...,...
7126,Leeds,Aston Villa,H,5.0,6.0,0.273,0.365,1.649,1.827,1
7127,Man City,Southampton,A,7.0,3.0,2.786,1.508,1.124,1.251,-1
7128,Sunderland,Arsenal,A,3.0,13.0,0.908,1.479,2.841,1.624,-1
7129,Tottenham,Blackburn,A,7.0,9.0,2.402,1.766,0.978,1.151,-1
7130,West Brom,Newcastle,D,3.0,9.0,1.077,1.741,1.523,1.959,0

In [32]:
final_table.isnull().values.any()

False

In [33]:
X_train = final_table[['HST','AST','HAS','HDS','AAS','ADS',]]
y_train = final_table['Result']

In [34]:
from sklearn.model_selection import train_test_split
X_train,test_X,y_train,test_y=train_test_split(X_train,y_train,random_state=0)

In [35]:
model1 = LogisticRegression()
model1.fit(X_train, y_train)
y_pred1 = model1.fit(X_train,y_train).predict(X_train)
y_pred1

array([-1,  1,  1, ...,  1, -1,  1])

In [36]:
accuracy_score(y_pred1,y_train)

0.5679820460071068

In [37]:
model2 = KNeighborsClassifier()
model2.fit(X_train, y_train)
y_pred2 = model2.fit(X_train,y_train).predict(X_train)
y_pred2

array([-1, -1,  1, ...,  1, -1,  1])

In [38]:
accuracy_score(y_pred2,y_train)

0.6485879932672527

In [39]:
model3 =  LinearSVC()
y_pred3 = model3.fit(X_train, y_train).predict(X_train)
y_pred3

/Users/dhwani/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

array([-1,  1,  1, ...,  1, -1,  1])

In [40]:
accuracy_score(y_pred3,y_train)

0.5672339629698897

### Predicting Recent Performance

In [41]:
#dropping certain columns not needed for recent performance prediction purposes

pred_table = final_table.drop(['HST','AST'],axis=1)
pred_table

            HomeTeam     AwayTeam FTR    HAS    HDS    AAS    ADS  Result
0             Fulham      Arsenal   A  1.280  1.649  2.841  1.624      -1
1     Crystal Palace  Southampton   H  0.675  1.056  1.124  1.251       1
2          Liverpool        Leeds   H  2.642  1.352  0.389  0.387       1
3           West Ham    Newcastle   A  1.590  2.004  1.523  1.959      -1
4          West Brom    Leicester   A  1.077  1.741  1.060  0.845      -1
...              ...          ...  ..    ...    ...    ...    ...     ...
7126           Leeds  Aston Villa   H  0.273  0.365  1.649  1.827       1
7127        Man City  Southampton   A  2.786  1.508  1.124  1.251      -1
7128      Sunderland      Arsenal   A  0.908  1.479  2.841  1.624      -1
7129       Tottenham    Blackburn   A  2.402  1.766  0.978  1.151      -1
7130       West Brom    Newcastle   D  1.077  1.741  1.523  1.959       0

[7130 rows x 8 columns]

In [62]:
# Adding next week fixtures from understat.com

new_fixtures = pd.DataFrame( [['Crystal Palace','Leeds','D',0,0,0,0],
                             ['West Ham','Arsenal','D',0,0,0,0],
                             ['Everton','Chelsea','D',0,0,0,0],
                             ['Newcastle','Liverpool','D',0,0,0,0],
                             ['Wolves','Brighton','D',0,0,0,0],
                             ['Watford','Burnley','D',0,0,0,0],
                             ['Tottenham','Leicester','D',0,0,0,0],
                             ['Southampton','Crystal Palace','D',0,0,0,0],
                             ['Aston Villa','Norwich','D',0,0,0,0],
                             ['Leeds','Man City','D',0,0,0,0]],columns=['HomeTeam','AwayTeam', 'FTR',
                                                                            'HAS','HDS','AAS','ADS'])

In [63]:
new_fixtures.head()

         HomeTeam   AwayTeam FTR  HAS  HDS  AAS  ADS
0  Crystal Palace      Leeds   D    0    0    0    0
1        West Ham    Arsenal   D    0    0    0    0
2         Everton    Chelsea   D    0    0    0    0
3       Newcastle  Liverpool   D    0    0    0    0
4          Wolves   Brighton   D    0    0    0    0

In [64]:
#Converts results (H,A or D) into numeric values

def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [65]:
new_fixtures["Result"] = new_fixtures.apply(lambda row: transformResult(row),axis=1)
new_fixtures.head()

         HomeTeam   AwayTeam FTR  HAS  HDS  AAS  ADS  Result
0  Crystal Palace      Leeds   D    0    0    0    0       0
1        West Ham    Arsenal   D    0    0    0    0       0
2         Everton    Chelsea   D    0    0    0    0       0
3       Newcastle  Liverpool   D    0    0    0    0       0
4          Wolves   Brighton   D    0    0    0    0       0

In [67]:
new_HAS = []
new_HDS = []
new_AAS = []
new_ADS = []
for index,row in new_fixtures.iterrows():
    new_HAS.append(table[table['Team'] == row['HomeTeam']]['HAS'].values[0])
    new_HDS.append(table[table['Team'] == row['HomeTeam']]['HDS'].values[0])
    new_AAS.append(table[table['Team'] == row['AwayTeam']]['AAS'].values[0])
    new_ADS.append(table[table['Team'] == row['AwayTeam']]['ADS'].values[0])
    
new_fixtures['HAS'] = new_HAS
new_fixtures['HDS'] = new_HDS
new_fixtures['AAS'] = new_AAS
new_fixtures['ADS'] = new_ADS
new_fixtures

         HomeTeam        AwayTeam FTR    HAS    HDS    AAS    ADS  Result
0  Crystal Palace           Leeds   D  0.675  1.056  0.389  0.387       0
1        West Ham         Arsenal   D  1.590  2.004  2.841  1.624       0
2         Everton         Chelsea   D  2.096  1.858  2.778  1.332       0
3       Newcastle       Liverpool   D  1.690  1.917  2.709  1.561       0
4          Wolves        Brighton   D  0.587  0.910  0.306  0.413       0
5         Watford         Burnley   D  0.513  0.773  0.598  0.856       0
6       Tottenham       Leicester   D  2.402  1.766  1.060  0.845       0
7     Southampton  Crystal Palace   D  1.173  1.333  0.924  1.026       0
8     Aston Villa         Norwich   D  1.376  1.717  0.394  0.841       0
9           Leeds        Man City   D  0.273  0.365  2.758  1.601       0